/*********** GENERIC *********/
.grid-row-5 {
    grid-auto-rows: 5rem;
}
.grid-row-5 > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.grid-row-3 {
    grid-auto-rows: 3rem;
}
.grid-col-2 {
    grid-template-columns: 25% 75%;
    grid-template-rows: 100% 100%;
}
.grid-col-4 {
    grid-template-columns: 2fr 3fr 1fr 1fr;
}
.badge {
    background-color: var(--paleblue);
}
.flex-gap {
    gap: 1rem;
}
.hr-cart {
    border-bottom: .5px solid black;
}
/******** BROWSER CATEGORY ********/
.cateogory li a:hover {
    color: var(--royalblue-bg);
    cursor: pointer;
}
/***** utils ******/

.font-lg {
    font-size: 1rem;
}
.hide-default {
    visibility: hidden;
}
.w-100 {
    width: 100%;
}
.text-color {
    color: var(--royalblue-bg);
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-spc-btwn {
    justify-content: space-between;
}
.justify-center {
    justify-content : center
}
.justify-even {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.text-initial {
    text-align: initial;
}
.cursor-pointer {
    cursor: pointer;
}
.display-none {
    display : none;
}
.absolute {
    position: absolute;
}
.no-border {
    border: none;
    background-color: transparent;
}
.w-50 {
    width: 50%;
}
.w-100vw {
    width: 100vw;
}
.h-100vh {
    height: 100vh;
}
.z-idx {
    z-index: 999;
}
.input-no-bdr {
    border: none;
    border-bottom: 1px solid;
    border-radius: inherit;
}
.input-no-bdr:focus {
    outline: none;
}
.boder-light {
    border: 1px solid #0000003b;
    border-top-width : 0px
}
.text-left {
    text-align: left;
}
.modal-bg {
    background-color: #0000008a;
}
.playlist-modal {
    z-index: 1;
    margin: 3rem;
    border-radius: 7px;
    position: relative;
    background-color: var(--white);
    box-shadow: 0rem 0.1rem 0.2rem var(--box-shadow);
}