/*********** GENERIC *********/
.grid-row-5 {
    grid-auto-rows: 5rem;
}
.grid-row-5 > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.grid-row-3 {
    grid-auto-rows: 3rem;
}
.grid-col-2 {
    grid-template-columns: 25% 75%;
    grid-template-rows: 100% 100%;
}
.grid-col-4 {
    grid-template-columns: 2fr 3fr 1fr 1fr;
}
.badge {
    background-color: var(--paleblue);
}
.flex-gap {
    gap: 1rem;
}
.hr-cart {
    border-bottom: .5px solid black;
}
/******** BROWSER CATEGORY ********/
.cateogory li a:hover {
    color: var(--royalblue-bg);
    cursor: pointer;
}
/***** utils ******/

.font-lg {
    font-size: 1rem;
}
.hide-default {
    visibility: hidden;
}
.w-100 {
    width: 100%;
}
.text-color {
    color: var(--royalblue-bg);
}
.relative {
    position: relative;
}